<div class="blog-link" onclick="window.location.href='{{ '/blog/' ~ blogPostLink.username }}';">
    <div class="blog-link-content">
        <img src={{ asset(blogPostLink.profilPic) }}>
        <div>
            <p>{{ blogPostLink.username }}'s blog</p>
        </div>
    </div>
    <div class="arrow">»</div>
</div>