<div class="blog-post">
    <div>
        <div class="blog-post-title">
            {{ blogPost.getTitle}}
        </div>
        <div class="blog-post-content">
            {{ blogPost.getContent }}
        </div>
        <div class="blog-post-date">
            {{ blogPost.getPublicationDate.getDate|date("d/m/Y") }}
        </div>
    </div>
</div>