<div class="blog-post">
    <div>
        <div class="blog-post-title">
            {{ blogPostTitle}}
        </div>
        <div class="blog-post-content">
            {{ blogPostContent }}
        </div>
        <div class="blog-post-date">
            {{ blogPostDate }}
        </div>
    </div>
</div>