<div class="blog-link" onclick="window.location.href='{{ blogLink }}';">
        <div class="blog-link-content">
            <img src={{ userProfilPic }}>
            <div>
                <p>{{ userNickName }}</p>
            </div>
        </div>
        <div class="arrow">»</div>
    </div>