<a class="blog-link" href={{ path("user_blog", {username: blogPostLink.username}) }}>
    <div class="blog-link-content">
        <img src={{ profil_pic_dir }}{{ asset(blogPostLink.profilPic) }} onerror="this.src='/images/icons/no_pic_user.png'">
        <div>
            <p>{{ blogPostLink.displayedNickName }}'s blog</p>
        </div>
    </div>
    <div class="arrow">»</div>
</a>