<div class="post" onclick="window.location.href='https://google.com';">
        <div class="post-content">
            <img src={{ asset("images/page_thumbnails/3boxes.jpg") }}>
            <div>
                <p>{{ postTitle }}</p>
                <p>{{ postDescription }}</p>
            </div>
            <p>{{ postDate }}</p>
        </div>
        <div class="arrow">»</div>
    </div>