{#
Copyright 2021 Jolan Aklin and Yohan Zbinden

This website is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, version 3 of the License.

This website is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this software.  If not, see <https://www.gnu.org/licenses/>.
#}

<div class="popup-menu">
    <button onclick="OpenFilterMenu('tagfilter')">filter by tag</button>
    <div id="tagfilter">
        <div>
            <div><input type="checkbox" id="all" name="all" value="all"><label for="all">All</label></div>
            <div><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"><label for="vehicle1">Hardware</label></div>
        </div>
        <button onclick="CloseFilterMenu('tagfilter')">Done</button>
    </div>
</div>