{% extends 'base.html.twig' %}

{% block title %}
PCThings | Contact
{% endblock %}

{% block pageTitle %}
Contact
{% endblock %}

{% block bgImage %}
{{ asset("images/page_header/home_image_header.jpg")}}
{% endblock %}
{% block bgImageAff %}
{{ asset("images/page_header/home_image_header.jpg")}}
{% endblock %}

{% block mainText %}
<h1>Creators</h1>
<p>Yohan Zbinden</p>
<ul>
    <li>GitHub : <a class="link" href="https://github.com/yoyozbi" target="_blank">https://github.com/yoyozbi</a></li>
</ul>
<p>Jolan Aklin</p>
<ul>
    <li>GitHub : <a class="link" href="https://github.com/JolanAklin" target="_blank">https://github.com/JolanAklin</a></li>
</ul>
<p>Check out the website repo at <a class="link" href="https://github.com/JolanAklin/website-pcthings" target="_blank">https://github.com/JolanAklin/website-pcthings</a></p>
{% endblock %}
