{% extends 'base.html.twig' %}

{% block title %}
PCThings | Home
{% endblock %}

{% block pageTitle %}
Home
{% endblock %}

{% block bgImage %}
{{ asset("images/page_header/home_image_header.jpg")}}
{% endblock %}
{% block bgImageAff %}
{{ asset("images/page_header/home_image_header.jpg")}}
{% endblock %}

{% block mainText %}
<h1>Hello</h1>
<p>hello</p>
<p class="quote">je suis une quote</p>
<button>button</button>
<a href="#" >lien</a>
<div class="colorShowContainer">
    <div class="colorShow"></div>
    <div class="colorShow"></div>
    <div class="colorShow"></div>
    <div class="colorShow"></div>
</div>
<div class="code_container">
    <div>
        <div>test.py</div>
        <button>Copy</button>
    </div>
    <div>
        <p>je suis du code</p>
        <p>hello</p>
        <p>shaféoasnégréaihféoiaeébaéusbdféuheébaéidfiuhéehaéhkdéjfhklejhalkjdlkjféheahdiluhaliguhriauhgriluhaughladhfglajdhfgliuhakljfhaslkjhfliwif saileuht liuwhfluastiualsghliuahl iughasliughliahgliahrlgfhali hrliwhsligahlihfliashdli uhgawliugali</p>
    </div>
</div>
<div class="code_container">
    <div>
        <div>je-suis-un-autre-code.cs</div>
        <button>Copy</button>
    </div>
    <div>
        <p>private int hello;</p>
        <p>public void Start()</p>
        <p>{</p>
        <p style="margin-left:2em;">hello = 2;</p>
        <p>}</p>
    </div>
</div>
<p></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>a</p>
{% endblock %}
