:root {
	--color: #1e1f21;
	--color-lighter: #27282a;
	--color-accent: #0f9b14;
	--color-accent-darker: #0b7a0f;
	--text-size: 1.1em;
	--code-size: 0.8em;
	--quote-size: 0.9em;
}

@font-face {
	font-family: "QuickSand";
	src: url("./Quicksand-Medium.ttf");
}

@font-face {
	font-family: "QuickSandBold";
	src: url("./Quicksand-Bold.ttf");
}

@font-face {
	font-family: "ABeeZee";
	src: url("./ABeeZee-Italic.ttf");
}

@font-face {
	font-family: "RobotoMono";
	src: url("./RobotoMono-Regular.ttf");
}

html {
	margin: 0px;
	min-width: 100%;
	min-height: calc(100% - 64px);
	margin-top: 64px;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	color: white;
	background-color: var(--color-lighter);
	font-family: "QuickSand";
	font-size: var(--text-size);
	min-width: 100%;
	/*height: 100%;*/
	min-height: calc(100vh - 64px);
	margin: 0px;
	word-break: break-word;
}

.can-grow {
	flex-grow: 1000000000;
}

.background-image {
	z-index: -10;
	position: absolute;
	top: 64px;
	left: 0px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	height: auto;

	overflow: hidden;
	max-height: 50vh;
}

.background-image>img {
	width: 100%;
	height: auto;
}

.page-title {
	font-size: 3em;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;

}

.main_container {

	margin: 0px;
	/*margin-left: auto;
	margin-right: auto;*/
	width: 80%;
	height: 100%;


}

.main-text {
	background-color: var(--color);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

button {
	background-color: rgba(0, 0, 0, 0);
	border: solid 3px var(--color-accent-darker);
	border-radius: 5px;
	padding: 5px;
	font-size: 1em;
	color: white;
	height: 2.2em;
	transition: all 0.5s;
}

button:hover {
	background-color: var(--color-accent);
}

button:active {
	transition: all 0.2s;
	background-color: var(--color-accent-darker);
	border: solid 3px var(--color-accent);
}

.profile-button {
	height: 2.2em;
	border-radius: 100%;
	width: auto;
}

footer {
	margin-top: 30px;
	background-color: var(--color-lighter);
}

.quote {
	font-family: "ABeeZee";
	padding: 10px;
	font-size: var(--quote-size);
}

.quote:before {
	content: '" ';
}

.quote:after {
	content: ' "';
}

/*code container*/
.code_container {
	background-color: var(--color-lighter);
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.code_container>div {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 2px solid var(--color);
	align-items: center;
}

.code_container>div+div {
	display: inline-block;
	font-family: "RobotoMono";
	padding: 10px;
	font-size: var(--code-size);
	overflow: auto;
}

.code_container>div+div>p {
	margin: 0px;
	padding: 0px;
}


a {
	transition: all 0.3s;
	color: var(--color-accent-darker);
	font-family: "QuickSandBold";
	text-decoration: initial;
}

a:hover {
	color: var(--color-accent);
}

.title-link {
	color: white;
	transition: all 0.3s;
	font-family: "QuickSand";
	text-decoration: underline;
	cursor: pointer;
}

#navBar {
	position: fixed;
	top: 0;
	background-color: var(--color-lighter);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
	-webkit-box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.75);
	width: calc(100% - 20px);
	z-index: 10000000;
}

#menu {
	display: none;
	border: none;
}

#menu>img {
	display: inline-block;
	height: 100%;
}

#navBar div:last-child() {
	width: 50%;
}


#website-title {
	/*font-size: 2.2em;
	cursor: default;*/
	transition: all 0.5s;
}

#website-title>img {
	height: 40px;
	width: auto;
}

footer {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
	-webkit-box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.75);
}

/*containers*/
.h-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
}

.category{
	cursor: pointer;
	margin: 5px;
	flex-grow: 1;
	flex-basis: 400px !important;
	background-color: var(--color-lighter);
	transition: all 0.5s;
}
.category:hover {
	background-color: var(--color-accent-darker);
	margin: 1px;
	padding: 4px;
	-webkit-box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.75);
	z-index: 100;
}
.category > p {
	margin-top: 8px;
	margin-bottom: 8px;
	width: calc(100% - 20px) !important;
	margin-left: 10px;
	margin-right: 10px;
}
.category-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.category-object-list {
	display: flex;
	flex-direction: row;
}
.category-list {
	display: flex;
	flex-direction: column;
}

.category-list-element {
	cursor: pointer;
	margin: 5px;
	flex-grow: 1;
	width: calc(100% - 10px) !important;
	background-color: var(--color-lighter);
	transition: all 0.5s;
}
.category-list-element:hover {
	background-color: var(--color-accent-darker);
	margin: 1px;
	padding: 4px;
	-webkit-box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.75);
	z-index: 100;
}
.category-list-element > p {
	margin-top: 8px;
	margin-bottom: 8px;
	width: calc(100% - 20px) !important;
	margin-left: 10px;
	margin-right: 10px;
}

.image-grid {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.image-grid-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.image-grid-col {
	cursor: pointer;
	margin: 5px;
	flex-basis: 300px !important;
	flex-grow: 1;
	background-color: var(--color-lighter);
	transition: all 0.5s;
}
.image-grid-col > div {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 95%;
}
.image-grid-col > p {
	margin-top: 0px;
	margin-bottom: 8px;
	width: calc(100% - 20px);
	margin-left: 10px;
	margin-right: 10px;
	border-top: 1px solid white;
}
.image-grid-col:hover > p > a {
	color: var(--color-lighter);
}
.image-grid-col:hover {
	background-color: var(--color-accent-darker);
	margin: 1px;
	padding: 4px;
	-webkit-box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.75);
	z-index: 100;
}
.image-grid-col > div > img {
	width: 100%;
	height: auto;
	visibility: hidden;
}

.modify-image-display {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--color-lighter);
	background-size: 95%;
	max-width: 500px;
	max-height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.modify-image-display > img {
	width: 100%;
	height: auto;
	visibility: hidden;
}

.page-navigation {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
	padding:5px;
}
.page-navigation-link {
	padding-left: 5px;
	padding-right: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 80%;
}
.page-navigation-link > a {
	padding-left: 1px;
	padding-right: 1px;
}

.h-container :nth-child(1n) {
	flex-basis: auto;
}

.v-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.v-container :nth-child(1n) {
	width: 100%;
}

.border {
	border: 1px solid white;
}

.border-b {
	border-bottom: 1px solid white
}

.border-none {
	border: none;
}

.bordered-child-b :nth-child(1n) {
	border-bottom: 1px solid white
}

/*width*/
.w-xs {
	width: 10%;
	flex-basis: 10%;
}

.w-s {
	width: 20%;
	flex-basis: 20%;
}

.w-m {
	width: 30%;
	flex-basis: 30%;
}

.w-l {
	width: 40%;
	flex-basis: 40%;
}

.w-xl {
	width: 50%;
	flex-basis: 50%;
}

.all-width {
	width: 100%;
}

.w-auto {
	width: auto;
}

/*height*/
.h-xs {
	height: 10%;
	flex-basis: 10%;
}

.h-s {
	height: 20%;
	flex-basis: 20%;
}

.h-m {
	height: 30%;
	flex-basis: 30%;
}

.h-l {
	height: 40%;
	flex-basis: 40%;
}

.h-xl {
	height: 50%;
	flex-basis: 50%;
}

.all-height {
	height: 100%;
}

.h-auto {
	height: auto;
}

/*padding and margin*/
.p-10 {
	padding: 10px;
}

.m-top-30 {
	margin-top: 30px;
}

.child-p-v-5 :nth-child(1n) {
	padding-top: 5px;
	padding-bottom: 5px;
}

/*font size*/
.font-normal {
	font-size: 0.8em;
}

.font-normal {
	font-size: 1em;
}

.font-medium {
	font-size: 1.2em;
}

.font-bold {
	font-weight: bold;
}

/*color*/
.base-color {
	color: var(--color);
}

.base-color-lighter {
	color: var(--color-lighter);
}

.accent-color {
	color: var(--color-accent);
}

.accent-color-darker {
	color: var(--color-accent-darker);
}

.color-white {
	color: white;
}

/*animated link*/
.animated-link {
	display: flex;
	align-items: center;
	transition: all 0.5s;
	cursor: default;
}

.animated-link :nth-child(2) {
	cursor: default;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.animated-link :nth-child(2) {
	opacity: 0;
	width: 20px;
	transition: 0.5s;
}

.animated-link:hover {
	padding-left: 10px;
}

.animated-link:hover :nth-child(2) {
	opacity: 1;
	right: 0;
}

/*search bar*/
.search-bar {
	display: flex;
	flex-direction: row;

	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;

}

.search-bar input:first-child {
	background-color: var(--color-lighter);
	border: none;
	border-radius: 5px;
	color: white;
	padding: 5px;
	font-size: 1em;
	width: 100%;
	flex-basis: 100%;
	min-width: 0px;
	transition: 0.5s;
	border: 2px solid var(--color);
}

.search-bar :first-child::placeholder {
	color: #adadad;
}

.search-bar :first-child:focus {
	border: 2px solid var(--color-accent-darker);
}

.search-bar :last-child {
	word-break: keep-all;
	width: 25%;
	max-width: 100px;
	flex-basis: 25%;
	margin-left: 10px;
}

.search-bar :last-child>img {
	height: 1em;
	width: auto;
	margin: 0px;
	padding: 0px 0px 0px 5px;
	vertical-align: middle;
	background-color: transparent !important;
	border-radius: 0px;
}

.input {
	background-color: var(--color-lighter);
	border: none;
	border-radius: 5px;
	color: white;
	padding: 5px;
	font-size: 1em;
	width: calc(100% - 14px) !important;
	flex-basis: 100%;
	min-width: 0px;
	transition: 0.5s;
	border: 2px solid var(--color);
	display: inline-block;
}

.input::placeholder {
	color: #adadad;
}

.input:focus {
	border: 2px solid var(--color-accent-darker);
}

.toggle {
	display: block;
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width:auto;
}

.toggle input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.toggle .checkmark {
	position: absolute;
	transition: 0.5s;
	border: none;
	top: 0;
	left: 0;
	border-radius: 5px;
	height: 20px;
	width: 20px;
	border: 2px solid var(--color);
	background-color: var(--color-lighter);
}

.checkmark:hover {
	border: var(--color-accent) solid 2px;
}

.toggle input:checked~.checkmark {
	background-color: var(--color-accent-darker);
}

.toggle .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.toggle input:checked~.checkmark:after {
	display: block;
}

.toggle .checkmark:after {
	left: 7px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

form {
	max-width: 900px;
}
.form-no-max {
	max-width: 100%;
}

.editUserForm > div div {
	display: flex;
	flex-direction: row;
	padding-bottom: 10px;
}
.editUserForm > div div label {
	flex-basis: auto;
	min-width: 150px !important;
	word-break: keep-all;
	white-space: nowrap;
}

.alert {
	border-radius: 5px;
	padding:10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.alert-form {
	max-width: calc(900px - 24px);
}
.alert-danger {
	background-color: rgb(120, 0, 0);
	border: 2px solid red;
}
.alert-info {
	background-color: rgb(120, 120, 0);
	border: 2px solid yellow;
}
.alert-success {
	background-color: rgb(0, 120, 0);
	border: 2px solid rgb(0, 255, 0);
}


.post-link {
	cursor: pointer;
	margin: 5px;
	flex-grow: 1;
	flex-basis: 400px !important;
	background-color: var(--color-lighter);
	transition: all 0.5s;
	display: flex;
	flex-direction: row;
}
.post-link > img{

}
.post-link:hover {
	background-color: var(--color-accent-darker);
	margin: 1px;
	padding: 4px;
	-webkit-box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.75);
	z-index: 100;
}

.blog-post:nth-child(n+2) {
	margin-top: 20px;
}

.blog-post>div {
	display: flex;
	flex-direction: column;
	width: auto !important;
	border-radius: 5px;
	padding: 10px;
	background-color: var(--color-lighter);
}

.blog-post-title {
	font-size: 1.5em;
	border-bottom: #0b7a0f solid 1px;
}

.blog-post-content {
	font-size: var(--text-size);
	padding-top: 10px;
	padding-bottom: 10px;
}
.blog-post:target > div {
	background-color: var(--color-lighter);
	animation-name: anim-target-blog-post;
  	animation-duration: 1s;
}
.info {
	display: flex;
	flex-direction: row;
	word-break: normal;
	width: auto;
	justify-content: flex-end;
	align-items: center;
}
.info *:not(img):not(a):not(.writer) {
	width: auto !important;
	padding-right: 10px;
	font-size: 0.7em;
}
.info > .writer {
	display: flex;
	flex-direction: row;
	word-break: normal;
	width: auto;
	justify-content: flex-end;
	align-items: center;
	margin-right: auto;
}
.info > .writer > img {
	height: 2.2em;
	margin-right: 10px;
	border-radius: 50%;
	width: auto;
}

.blog-post>div :nth-child(3) {
	padding-left: 10px;
	align-self: flex-end;
}

.splitter {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px 0px 0px 0px;
}

.splitter :first-child {
	width: auto;
	color: var(--color-accent-darker);
	white-space: nowrap;
	word-break: keep-all;
}

.splitter :last-child {
	height: 0px;
	padding-top: 3px;
	display: inline;
	border-bottom: solid 1px var(--color-accent-darker);
	margin-left: 10px;
}

.popup-menu {
	width: 100%;
}

.popup-menu>button {
	width: 100%;
	height: 100%;
	border: none;
	background-color: var(--color-lighter);
}

.popup-menu>button:hover {
	background-color: var(--color-accent);
}

.popup-menu>button:active {
	transition: all 0.2s;
	background-color: var(--color-accent-darker);
}

.popup-menu>div {
	top: calc(20% + 44px);
	bottom: 20%;
	left: 20%;
	right: 20%;
	padding: 20px;
	background-color: var(--color);
	-webkit-box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.75);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	display: none;
	z-index: 500;
	overflow: auto;
}
.close-popup-menu {
	width: 30px !important;
	height: 30px !important;
	border-radius: 100% !important;
	border-color: rgb(120, 0, 0);
	background-image: url("/images/icons/close.png");
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
	background-color: var(--color);
	position: fixed;
	top: calc(20% + 44px - 15px);
	right: calc(20% - 15px);
	margin: 0px !important;
}
.close-popup-menu:hover {
	background-color:red;
	border-color: rgb(120, 0, 0);
}

.popup-menu>div div {
	overflow: auto;
	padding: 5px 0px 5px 0px;
}

.popup-menu>div>button {
	width: 100%;
	margin-top: 5px;
}


@media screen and (max-width: 1020px) {
	.left-container {
		width: 80%;
		flex-basis: 80%;

	}

	.wrap-reverse {
		flex-wrap: wrap-reverse;
	}

	.main_container {
		height: auto;
	}
}

@media screen and (max-width: 700px) {
	.editUserForm > div div {
		flex-direction: column;
	}
	.editUserForm > div div label {
		width: 100% !important;
	}

	.search-bar {
		flex-wrap: wrap;
	}

	.search-bar :last-child {
		width: 100%;
		max-width: 100%;
		flex-basis: 100%;
		margin-left: 0px;
	}

	.popup-menu>div {
		top: calc(20%-44px);
		bottom: 20%;
		left: 10%;
		right: 10%;
	}
	.close-popup-menu {
		top: calc(20% + 44px - 15px);
		right: calc(10% - 15px);
	}

	#menu {
		display: block;
	}

	#navBar button:nth-child(n):not(#menu) {
		display: none;
		order: 100;
	}
	.all-width-when-small-screen {
		width: 100%;
	}
	.h-container-to-vertical {
		flex-direction: column;
	}
}

@keyframes anim-target-blog-post {
	0%   {background-color: var(--color-lighter);}
	25%  {background-color: var(--color-accent-darker);}
	100%  {background-color: var(--color-lighter);}
  }


.colorShow {
	width: 50px;
	height: 50px;
	border: solid 1px white;
}

.colorShowContainer :nth-child(1) {
	background-color: var(--color);
}

.colorShowContainer :nth-child(2) {
	background-color: var(--color-lighter);
}

.colorShowContainer :nth-child(3) {
	background-color: var(--color-accent);
}

.colorShowContainer :nth-child(4) {
	background-color: var(--color-accent-darker);
}