{#
Copyright 2021 Jolan Aklin and Yohan Zbinden

This website is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, version 3 of the License.

This website is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this software.  If not, see <https://www.gnu.org/licenses/>.
#}

<div>
    <table class="custom-text-info">
        <tr>
            <th>Wanted actions</th>
            <th>How to do it</th>
            <th>Examples</th>
        </tr>
        <tr>
            <td>Format text background</td>
            <td>&bg<span class="custom-text-info-syntaxe-color">&lt;hex color&gt;</span>&<span class="custom-text-info-syntaxe-color">&lt;Text to format&gt;</span>&bg&</td>
            <td>&bg#0f9b14&Text to format&bg&</td>
        </tr>
        <tr>
            <td>Change text color</td>
            <td>&fg<span class="custom-text-info-syntaxe-color">&lt;hex color&gt;</span>&<span class="custom-text-info-syntaxe-color">&lt;Text to format&gt;</span>&fg&</td>
            <td>&fg#0f9b14&Text to format&fg&</td>
        </tr>
        <tr>
            <td>Bold</td>
            <td>**<span class="custom-text-info-syntaxe-color">&lt;Text to format&gt;</span>**</td>
            <td>**I'm bold**</td>
        </tr>
        <tr>
            <td>Italic</td>
            <td>*<span class="custom-text-info-syntaxe-color">&lt;Text to format&gt;</span>*</td>
            <td>*i'm italic*</td>
        </tr>
        <tr>
            <td>Links</td>
            <td>[<span class="custom-text-info-syntaxe-color">&lt;Link name&gt;</span>](<span class="custom-text-info-syntaxe-color">&lt;Link target&gt;</span> "<span class="custom-text-info-syntaxe-color">&lt;Link title&gt;</span>)"</td>
            <td>[Pcthings](https://pcthings.ch "PC related stuff")</td>
        </tr>
        <tr>
            <td>Danger alert</td>
            <td>&danger&<span class="custom-text-info-syntaxe-color">&lt;Text&gt;</span>&danger&</td>
            <td>&danger&Beware of the bear&danger&</td>
        </tr>
        <tr>
            <td>Warning alert</td>
            <td>&warn&<span class="custom-text-info-syntaxe-color">&lt;Text&gt;</span>&warn&</td>
            <td>&warn&Warning : dev zone&warn&</td>
        </tr>
        <tr>
            <td>Info alert</td>
            <td>&info&<span class="custom-text-info-syntaxe-color">&lt;Text&gt;</span>&info&</td>
            <td>&info&Info : this is not an info&info&</td>
        </tr>
        <tr>
            <td>Success alert</td>
            <td>&success&<span class="custom-text-info-syntaxe-color">&lt;Text&gt;</span>&success&</td>
            <td>&success&What a success&success&</td>
        </tr>
      </table> 
</div>