<div class="edit">
    <div id="edit"></div>
    <div>
        <button id="AddTitle">Add a title</button>
        <button id="AddTitle2">Add a title2</button>
        <button id="AddParagraph">Add a paragraph</button>
        <button id="AddQuote">Add a quote</button>
        <button id="AddCode">Add a code</button>
    </div>
    <div>
        <button id="ValidateForm">Validate form</button>
    </div>
</div>