<div class="edit">
    <div id="edit"></div>
    <div class="add-button-cluster">
        <button class="button-slicker" id="AddTitle">Add a title</button>
        <button class="button-slicker" id="AddTitle2">Add a title2</button>
        <button class="button-slicker" id="AddParagraph">Add a paragraph</button>
        <button class="button-slicker" id="AddQuote">Add a quote</button>
        <button class="button-slicker" id="AddCode">Add a code</button>
        <button class="button-slicker" id="AddTable">Add a table</button>
    </div>
    {{form(form, { 'attr': {'class': 'editForm'} }) }}
    <div>
        <button id="ValidateForm">Validate form</button>
    </div>
</div>